{% extends 'base/base.html' %}
{% block page_content %}
    <div class="jumbotron">
        <div class="position-sticky">
            <h1 class="display-4">Welcome to Family Planner</h1>
            <p class="lead">Plan your funds</p>
            <hr class="my-4">
            <div class="flex-row">

                <!-- Login Button -->
                <a href="#" class="btn btn-lg btn-secondary">Login</a>
{#                <a href="{% url 'login user' %}" class="btn btn-lg btn-secondary">Login</a>#}

                <!-- Register Button -->
                <a href="#" class="btn btn-lg btn-secondary">Register</a>
{#                <a href="{% url 'register' %}" class="btn btn-lg btn-secondary">Register</a>#}
            </div>
        </div>
    </div>
{% endblock %}